{
    "printWidth": 80,
    "tabWidth": 4,
    "bracketSpacing": true,
    "semi": false,
    "singleQuote": true,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "trailingComma": "es5",
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": false
}
